.iframe {
    display: block;
    height: 297mm;
    width: 210mm;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
}

.pdf-button {
    display: flex;
    justify-content: center;;
    align-items: center;
    position: fixed;
    top: 40px;
    right: 40px;
    border: 1px solid #1a237e;
    border-radius: 50%;
    background-color: #1a237e;
    width: 40px;
    height: 40px;
}

.pdf-button:hover {
    background-color: #0f1344;
}

.pdf-button:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 38px;
    height: 38px;
}

.icon-wrapper {
    display: inline-block;
    display: flex;
    justify-content: center;;
    align-items: center;
}

.download-icon {
    width: 1rem;
    height: 1rem;
    position: relative; 
    z-index: -1;
}
